<main class="main">
  <div class = "main-header">
    <div class='title-contents'>
      <h2 class='service-title'>
        お買い物を効率よく！
      </h2>
      </div>
  </div>
  <div class ="main-center">
     
  <div class="inner">
  <div class="center">
      <h3>
      【Mall Timeとは？！】
      </h3>
      <%= image_tag("https://www.silhouette-illust.com/wp-content/uploads/2019/11/restaurant_map_marker_48579-101x101.jpg", class:"list-pict") %>
      <p class="tenten">...</p>
      <%= image_tag("https://www.silhouette-illust.com/wp-content/uploads/2019/10/takeout_mochikaeri_46525-101x101.jpg", class:"list-pict") %>
      
  </div>
      <p>    
        大好きなレストランの料理をテイクアウト！
      </p>
      <p>
        帰りに出来立て料理を受け取れる<span class="under">テイクアウト予約アプリ</span>の登場です！
    </p>
  
    <div class="card__wrapper">
      <h4>
        ★Restaurant一覧★
        </h4>
      <%# 投稿機能実装後、部分テンプレートでプロトタイプ投稿一覧を表示する %>
      <%#<%= render partial: "prototype", collection: @prototypes %>
    </div>
  </div>
  
    
    
  </div>
  </div>
</main>