<div class="tenant_page">
  <h2 class="title1">【テナントページ】</h2>
  <div class="tenant_menu">
    <%= link_to "新規登録", new_tenant_registration_path, class: :tenant_btn %>
    <%= link_to "ログイン", new_tenant_session_path , class: :tenant_btn %>
    <%= link_to "出品", "#", class: :tenant_btn %>
    <%= link_to "会員情報編集", "#", class: :tenant_btn %>
  </div>
</div>


